<!DOCTYPE html>
<html>
<head><title>Student Form</title></head>
<body>
<h2>Student Form</h2>
<form action="/insert" method="post">
    Roll No: <input type="number" name="rollNo" required/><br/><br/>
    Name: <input type="text" name="name" required/><br/><br/>
    Standard: <input type="text" name="standard" required/><br/><br/>
    School: <input type="text" name="school" required/><br/><br/>
    <button type="submit">INSERT</button>
    <button type="reset">RESET</button>
</form>
</body>
</html>
